.button-accept {
  margin-left: 2.9rem;
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: var(--color-grey-light-0);
  font-size: 1.4rem;
  line-height: 1.9rem;
  border: 1px solid var(--color-grey-light-0);
  color: var(--color-grey-dark-1);
  cursor: pointer;
  transition: all 0.2s;

  @include maxWidth(1537px) {
    margin-left: 3.5rem;
  }

  @include maxWidth(1097px) {
    margin-left: 3.5rem;
    padding: 1.3rem;
  }

  @include maxWidth(966px) {
    margin-left: 3.5rem;
    padding: 1rem;
  }

  @include maxWidth(768px) {
    margin-left: 2.2rem;
    padding: 1rem;
    display: none;
  }

  @include maxWidth(640px) {
    margin-left: 3.9rem;
    margin-right: 3.9rem;
    padding: 0.8rem;
  }

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-grey-light-0);
  }
}

.button-open,
.button-close {
  font-size: 2rem;
  cursor: pointer;
  border: none;
  padding: 1rem;
  margin: 0;
  background-color: var(--color-primary);
  color: var(--color-grey-light-0);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-close {
  display: flex;
  align-items: center;
  width: 40px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
}

.btns-contact {
  .social-btns {
    display: flex;
    justify-content: space-between;
    
    img {
      max-width: 100%;
    }

    &__calltome,
    &__social{
      position: fixed;
      bottom: 120px;
      z-index: 1;
    }

    &__calltome {
      left: 50px;

      &--img3 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        left: -3.2rem;
        top: 0rem;
        z-index: 1;
        background-color: var(--color-primary);
        border-radius: 50%;
      }

      .numberphone {
        left: 1rem;
        top: 7.2rem;
        font-weight: 700;
        font-size: 1.7rem;
        line-height: 2.1rem;
        width: 12rem;
        color: var(--color-grey-light-0);
        text-decoration: none;
        text-align: end;
        z-index: 1;

        @include maxWidth(1536px) {
          left: 13.2rem;
        }

        @include maxWidth(1280px) {
          left: 13rem;
        }

        @include maxWidth(640px) {
          top: 6rem;
          left: 10rem;
          font-size: 1rem;
          line-height: 1.6rem;
          width: 7rem;
        }
      }
    }

    &__social {
      right: 130px;
      bottom: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: -10rem;
      z-index: 1;

      @include maxWidth(1536px) {
        margin-right: 0rem;
      }

      @include maxWidth(1280px) {
        margin-right: 0rem;
      }

      @include maxWidth(1280px) {
        margin-right: -3rem;
      }

      // img {
      //   width: 5rem;
      //   height: 5rem;
      //   @include maxWidth(1280px) {
      //     width: 3.5rem;
      //     height: 3.5rem;
      //   }
      // }

      .scroll-top {
        border: none;
        padding: 2rem 1.2rem;
        background-color: #EFEFEF;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s;
        visibility: hidden;
      }

      .scroll-active {
        visibility: visible;
      }
    }
  }
}

.btn-1{
  padding: 1rem 2rem;
    border: 1px solid #DF2127;
    border-radius: 9999px;
    color: #DF2127;
    background-color: #ffffff;
    display: inline-block;
    font-weight: 500;
    font-size: 1.4rem;
    text-decoration: none;

    &:hover{
      color: #DF2127;
    }
}

.btn-2{
  padding: 1rem 2.4rem;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #DF2127;
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  &:hover{
    color: #ffffff;
  }
}

.btn-3{
  padding: 0.8rem 1rem;
  border: none;
  color: var(--body-color);
  text-transform: none;
  background-color: #ffffff;
  display: inline-block;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.1rem;
  text-decoration: none;
  border-radius: 9999px;
  border: 1px solid #ECE5E5;

  &.active,
  &:hover{
    color: #ffffff;
    background-color: #DF2127;
    border: 1px solid #DF2127;
  }
}